@media (min-width: 768px) {
    .navbar {
        border-radius: unset !important;
    }
}

@media (min-width: 768px) {
    .navbar {
        border-radius: unset !important;
    }
}

.navbar-brand {
    padding: 5px !important;
}

/* modifications for theme: spacelab.css */
.panel-heading>.panel-title>.accordion-toggle {
    color: #666666 !important;
}